$cwhite: #fff;
$cblack: #111;
$corange: #f2952d;
$bwhite: #fff;
$bgray: #f2f2f2;
$blightblack: #333333;
$fcolor:#9F3331;
$bcolor:#1d1f19;
$item-background:#9f33319a;
$menu-bg:rgba(204, 204, 204, 0.41);
$border-grid: 20px;

$froboto: 'Roboto', sans-serif;
$fmontserrat: 'Montserrat', sans-serif;
$titull: 'Orbitron';